<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notify</title>
</head>
<body>
    <style> 
        marquee {
          width: 100%;
          padding: 10px 0;
          background-color: white;
        }
      </style>
     <marquee>
       <li> <a href="https://www.Google.com">Google.com</a></li>
       <li> <a href="https://www.Google.com">Google.com</a></li>
       <li> <a href="https://www.Google.com">Google.com</a></li>
       <li> <a href="https://www.Google.com">Google.com</a></li>

        
     </marquee>
     <marquee>
        <li> <a href="https://www.Google.com">Google.com</a></li>
        <li> <a href="https://www.Google.com">Google.com</a></li>
        <li> <a href="https://www.Google.com">Google.com</a></li>
        <li> <a href="https://www.Google.com">Google.com</a></li>
 
         
      </marquee><marquee>
        <li> <a href="https://www.Google.com">Google.com</a></li>
        <li> <a href="https://www.Google.com">Google.com</a></li>
        <li> <a href="https://www.Google.com">Google.com</a></li>
        <li> <a href="https://www.Google.com">Google.com</a></li>
 
         
      </marquee><marquee>
        <li> <a href="https://www.Google.com">Google.com</a></li>
        <li> <a href="https://www.Google.com">Google.com</a></li>
        <li> <a href="https://www.Google.com">Google.com</a></li>
        <li> <a href="https://www.Google.com">Google.com</a></li>
 
         
      </marquee><marquee>
        <li> <a href="https://www.Google.com">Google.com</a></li>
        <li> <a href="https://www.Google.com">Google.com</a></li>
        <li> <a href="https://www.Google.com">Google.com</a></li>
        <li> <a href="https://www.Google.com">Google.com</a></li>
 
         
      </marquee>
</body>
</html>